!!!
%html.body{class: "#{cookies[:theme]}"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AppPasseri
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navbar'
    = render 'layouts/flash_messages'
    %section.section.mt-5
      .container
        = yield
   
    -# = turbo_frame_tag 'turbo-stream-cache', signed_stream_name('default') do
    -#   = turbo_stream_from 'default'
    -# = javascript_pack_tag 'application', 'data-turbo-track': 'reload'